.OfferEntry {
    padding: 16px 22px;

    .requestStatus {
        display: inline-block;
        text-transform: uppercase;
        background-color: #14a9e6;
        color: #ffffff;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0.35px;
        line-height: 20px;
        padding: 2px 6px;
        margin-bottom: 8px;
    }

    .contentContainer {
        display: flex;
        justify-content: space-between;

        > div {
            min-width: 80px;
            margin-left: 8px;
            font-family: ProximaNova-Regular;
            font-size: 18px;
            color: #0b2127;
            letter-spacing: 0.45px;
            line-height: 20px;
        }

        .route {
            display: flex;
            flex-direction: column;

            .circle {
                display: inline-block;
                border-radius: 50%;
                height: 9px;
                width: 9px;
                background-color: #b5bbbe;
                margin: 0 8px;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: 1;
                    border-left: 1px solid #b5bbbe;
                }

                &.first::before {
                    top: 9px;
                    left: 50%;
                    height: 20px;
                }
                &.last::before {
                    top: -19px;
                    left: 50%;
                    height: 20px;
                }
            }

            .locationContainer {
                display: inline-flex;
                flex-direction: column;
                margin-bottom: 8px;

                .location {
                    font-family: ProximaNova-Bold;
                    font-size: 18px;
                    font-weight: 600;
                    color: #0a2127;
                    letter-spacing: 0.45px;
                    line-height: 20px;
                }

                .timeInterval {
                    font-family: ProximaNova-Regular;
                    font-size: 16px;
                    color: #838e94;
                    letter-spacing: 0.4px;
                    line-height: 20px;
                }
            }
        }

        .trailerType {
        }
        .mileage {
        }

        .payment {
            font-family: ProximaNova-Bold;
            font-weight: 600;
            color: #49a54e;
            text-align: right;
        }
    }
}
