.Offers {
    display: flex;
    flex-direction: column;

    flex-shrink: 1;
    overflow: auto;

    background-color: #f7f9fa;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    padding: 22px 52px;

    .sortSelector {
    }

    .offerList {
        flex-grow: 1;
        margin-top: 8px;
        margin-bottom: 20px;
    }

    .showMoreContainer {
        display: flex;
        align-items: center;

        .showMore {
            width: 190px;
            height: 40px;
            background-color: #848e93;
            border: none;
            border-radius: 4px;
            font-family: ProximaNova-Bold;
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            flex-shrink: 0;

            &:disabled {
                color: lightgray;
                background-color: #949ea3;
            }
        }

        .errorContainer {
            margin-left: 16px;
            color: red;
            font-weight: 600;
        }
    }
}
